################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Src/Yelper/.vs/Yelper
/.vs
/Src/Yelper/Services/Identity/Identity.API/bin/Debug/net7.0
/Src/Yelper/Services/Identity/Identity.API/obj
/Src/Yelper/Services/Identity/Identity.Application/obj
/Src/Yelper/Services/Identity/Identity.Contracts/obj
/Src/Yelper/Services/Identity/Identity.Domain/obj
/Src/Yelper/Services/Identity/Identity.Infrastructure/obj
/Src/Yelper/Common/DomainDrivenDesign/DomainDrivenDesign/obj
/Src/Yelper/.vs/ProjectEvaluation
/Src/Yelper/Common/DomainDrivenDesign/DomainDrivenDesign/bin/Debug/net7.0
/Src/Yelper/Services/Identity/Identity.Application/bin/Debug/net7.0
/Src/Yelper/Services/Identity/Identity.Contracts/bin/Debug/net7.0
/Src/Yelper/Services/Identity/Identity.Domain/bin/Debug/net7.0
/Src/Yelper/Services/Identity/Identity.Infrastructure/bin/Debug/net7.0
/Src/Yelper/bin/Debug
/Src/Yelper/obj
/Src/Yelper/Tests/Identity.FunctionalTests/obj
/Src/Yelper/Common/Tests/Tests.Common/bin/Debug/net7.0
/Src/Yelper/Common/Tests/Tests.Common/obj
/Src/Yelper/Services/Identity/Tests/Identity.FunctionalTests/bin/Debug/net7.0
/Src/Yelper/Services/Identity/Tests/Identity.FunctionalTests/obj/Debug/net7.0
/Src/Yelper/Services/Identity/Tests/Identity.FunctionalTests/obj
/Src/Yelper/Common/Services/AuthService/bin/Debug/net7.0
/Src/Yelper/Common/Services/AuthService/obj
/Src/Yelper/Services/Writer/Writer.API/obj
/Src/Yelper/Common/EventBus/EventBus/obj/Debug/net7.0
/Src/Yelper/Common/EventBus/EventBus/obj
/Src/Yelper/Common/EventBus/RabbitMQEventBus/obj
/Src/Yelper/Common/EventBus/EventBus/bin/Debug/net7.0
/Src/Yelper/Common/EventBus/RabbitMQEventBus/bin/Debug/net7.0
/Src/Yelper/Services/Writer/Writer.API/bin/Debug/net7.0
/Src/Yelper/Services/Writer/Writer.Contracts/Writer.Contracts/bin/Debug/net7.0
/Src/Yelper/Services/Writer/Writer.Contracts/Writer.Contracts/obj
/Src/Yelper/Services/Writer/Writer.Application/Writer.Application/bin/Debug/net7.0
/Src/Yelper/Services/Writer/Writer.Application/Writer.Application/obj/Debug/net7.0
/Src/Yelper/Services/Writer/Writer.Domain/Writer.Domain/bin/Debug/net7.0
/Src/Yelper/Services/Writer/Writer.Domain/Writer.Domain/obj
/Src/Yelper/Services/Writer/Writer.Application/Writer.Application/obj
/Src/Yelper/Services/Identity/Identity.API/bin/Debug/net8.0
/Src/Yelper/Services/Identity/Identity.Application/bin/Debug/net8.0
/Src/Yelper/Services/Identity/Identity.Contracts/bin/Debug/net8.0
/Src/Yelper/Services/Identity/Identity.Domain/bin/Debug/net8.0
/Src/Yelper/Services/Identity/Identity.Infrastructure/bin/Debug/net8.0
/Src/Yelper/Services/Identity/Tests/Identity.FunctionalTests/bin/Debug/net8.0
/Src/Yelper/Common/API/YelperCommon/obj
/Src/Yelper/Tests/Writer.FunctionalTests/obj
/Src/Yelper/Common/API/YelperCommon/bin/Debug/net8.0
/Src/Yelper/Common/Tests/Tests.Common/bin/Debug/net8.0
/Src/Yelper/Services/Writer/Writer.API/bin/Debug/net8.0
/Src/Yelper/Services/Writer/Writer.Application/Writer.Application/bin/Debug/net8.0
/Src/Yelper/Services/Writer/Writer.Contracts/Writer.Contracts/bin/Debug/net8.0
/Src/Yelper/Services/Writer/Writer.Domain/Writer.Domain/bin/Debug/net8.0
/Src/Yelper/Services/Writer/Writer.Infrastructure/bin/Debug/net8.0
/Src/Yelper/Services/Writer/Writer.Infrastructure/obj
/Src/Yelper/Tests/Writer.FunctionalTests/bin/Debug/net8.0
/Src/Yelper/Common/Services/AuthService/bin/Debug/net8.0
/Src/Yelper/Services/Reader/Reader.API/obj
/Src/Yelper/Services/Reader/Reader.API/bin/Debug/net8.0
/Src/Yelper/Services/Identity/Tests/Indentity.UnitTests/bin/Debug/net8.0
/Src/Yelper/Services/Identity/Tests/Indentity.UnitTests/obj
/Src/Yelper/Services/Identity/Tests/Identity.UnitTests/bin/Debug/net8.0
/Src/Yelper/Services/Identity/Tests/Identity.UnitTests/obj
/Src/Yelper/Services/Writer/Tests/Writer.FunctionalTests/bin/Debug/net8.0
/Src/Yelper/Services/Writer/Tests/Writer.FunctionalTests/obj
/Src/Yelper/Services/Reader/Reader.API/Reader.Application/obj
/Src/Yelper/Services/Reader/Reader.Infrastructure/obj
/Src/Yelper/Services/Reader/Reader.Application/obj
/Src/Yelper/Services/Reader/Reader.Application/bin/Debug/net8.0
/Src/Yelper/Services/Reader/Reader.Infrastructure/bin/Debug/net8.0
/Src/Yelper/Services/Reader/Tests/Reader.FunctionalTests/bin
/Src/Yelper/Services/Reader/Tests/Reader.FunctionalTests/bin
/Src/Yelper/Services/Reader/Tests/Reader.FunctionalTests/obj
/Src/Yelper/Services/Identity/Identity.API/bin/Release/net8.0
/Src/Yelper/Services/Identity/Identity.API/Properties/PublishProfiles
/Src/Yelper/Services/Identity/Identity.API/Properties/ServiceDependencies/app-dev-we-yelper-identity-01 - Zip Deploy
/Src/Yelper/Services/Identity/Identity.Application/bin/Release/net8.0
/Src/Yelper/Services/Writer/Tests/Writer.FunctionalTests/bin/Release/net8.0
/Src/Yelper/Services/Identity/Identity.Infrastructure/bin/Release/net8.0
/Src/Yelper/Services/Identity/Tests/Identity.FunctionalTests/bin/Release/net8.0
/Src/Yelper/Services/Identity/Identity.Domain/bin/Release/net8.0
/Src/Yelper/Services/Identity/Identity.Contracts/bin/Release/net8.0
/Src/Yelper/Common/Services/AuthService/bin/Release/net8.0
/Src/Yelper/Common/EventBus/EventBus/bin/Release/net7.0
/Src/Yelper/Common/EventBus/RabbitMQEventBus/bin/Release/net7.0
/Src/Yelper/Common/DomainDrivenDesign/DomainDrivenDesign/bin/Release/net7.0
/Src/Yelper/Common/API/YelperCommon/bin/Release/net8.0
/Src/Yelper/data
/Src/Yelper/mongodb_data
